#helpBtn
{
    position: fixed;
    right: 23px;
    bottom: 23px;
    margin-bottom: 0;
    z-index: 998;
}

#helpModel
{
    max-height: 500px;
}

/******************************************************************************/

.main-btn{
   width: 100%;
}

/******************************************************************************/

#appName
{
    font-family: 'Kaushan Script', cursive;
    color: white;
}

/******************************************************************************/

/*
gradient animator
obtained from: https://www.gradient-animator.com/
*/
#mainBackground
{
    background: linear-gradient(270deg, #34e89e, #0f3443);
    background-size: 100% 100%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

}

/******************************************************************************/

#blueBackground{
   background: linear-gradient(270deg, #2196f3, #2196f3);
   background-size: 400% 400%;

   -webkit-animation: AnimationName 30s ease infinite;
   -moz-animation: AnimationName 30s ease infinite;
   animation: AnimationName 30s ease infinite;

   @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
   }
   @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
   }
   @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
   }
}

/******************************************************************************/

#viewImgModal
{
    width: 95% !important ;
    bottom: 2%;
}

/******************************************************************************/
/*used in record.html when loading Google Maps*/
#spinner {
   position: absolute;
   top :0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

/******************************************************************************/
/*used in history.html*/

.mobile-fab-tip {
	position: fixed;
	right: 85px;
	padding:0px 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
}

.fixed-action-btn.spin-close .btn-large {
   position: relative;
}
.fixed-action-btn.spin-close .btn-large i {
   opacity: 1;
   transition: transform 0.3s, opacity 0.3s;
}
.fixed-action-btn.spin-close .btn-large:before {
   transition: transform 0.3s, opacity 0.3s;
   content: ' ';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 1.64rem;
   height: 2px;
   background: white;
   margin-top: -2px;
   margin-left: -0.82rem;
   transform: rotate(0);
   opacity: 0;
}
.fixed-action-btn.spin-close .btn-large:after {
   transition: transform 0.3s, opacity 0.3s;
   content: ' ';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 1.64rem;
   height: 2px;
   background: white;
   margin-top: -2px;
   margin-left: -0.82rem;
   transform: rotate(0);
   opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large i {
   opacity: 0;
}
.fixed-action-btn.spin-close.active .btn-large:before {
   opacity: 1;
   transform: rotate(135deg);
}
.fixed-action-btn.spin-close.active .btn-large:after {
   opacity: 1;
   transform: rotate(405deg);
}

/******************************************************************************/


/*#viewImg
{
    width: inherit;
    height: auto;
}*/
